<div class="container mt-5">
  <h1 class="font-weight-light">Profile</h1>
  <div class="row no-gutters mt-4">
    <div class="col-12 col-lg-6">
      <div class="row no-gutters align-items-center">
        <div class="col col-sm-4 col-md-6">
          <h3 class="font-weight-lighter"><%= @user.full_name %></h3>
        </div>
        <div class="col col-sm-4 col-md-6 d-flex justify-content-end align-items-center">
          <i class="far fa-2x text-info fa-edit"></i>
          <i class="far fa-2x text-danger ml-2 fa-trash-alt"></i>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="bg-dark" style="width: 100px; height: 100px"></div>
    </div>
  </div>
</div>
