<% if @events.count == 0 %>
  <%= render 'shared/empty_notice', condition: @events.count == 0,
             if_prompt: I18n.t('global.missing_input', types: t('global.menu.events').downcase),
             else_prompt: "",
             sub_condition: moderator_signed_in?(current_user),
             sub_if_prompt: I18n.t('global.missing_input_admin_prompt'),
             sub_else_prompt: I18n.t('global.missing_input_user_prompt') %>
<% else  %>
  <div class="no-gutters row">
    <% @events.each do |event| %>
      <div class="col-12">
        <%= render 'event_card', event: event, icon: icon %>
      </div>
    <% end %>
  </div>
<% end %>