<div class="d-flex justify-content-center">
  <div class="row w-75 m-4 d-flex justify-content-center">
    <div class="col-6 d-flex align-items-center">
      <h1 class="font-weight-light"><%= I18n.t("global.menu.events") %></h1>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-end">
      <% if user_is_admin? %>
        <%= link_to I18n.t("global.new"), new_event_path, class: "btn btn-secondary" %>
        <% visible_events = @events %>
      <% else %>
        <% visible_events = @events.select {|event| event.group.users.exists?(current_user.id) && event.published && !event.message?} %>
      <% end %>
    </div>
    <% visible_events.each do |event| %>
      <div class="col-lg-4 col-md-6 col-sm-12 mt-3 d-flex justify-content-center align-items-stretch">
        <%= render 'shared/card',
                   header: get_event_html_header(event),
                   img: "",
                   title: get_event_html_title(event),
                   body: get_event_html_body(event, get_attending_counts(event), false),
                   footer: get_event_html_buttons(event, false) %>
      </div>
    <% end %>
    <%= render 'shared/empty_notice', condition: visible_events.count == 0,
               if_prompt: I18n.t('global.missing_input', types: t('global.menu.events').downcase),
               else_prompt: "",
               sub_condition: user_is_admin?,
               sub_if_prompt: I18n.t('global.missing_input_admin_prompt'),
               sub_else_prompt: I18n.t('global.missing_input_user_prompt') %>
  </div>
</div>