<p><%= I18n.t('devise.mailer.intro_prompt', name: user.first_name, organization_name: I18n.t('config.organization_name')) %></p>

<p><%= is_being_updated ? I18n.t('global.updated') : I18n.t('global.new') %> <%= I18n.t('global.message') %>:</p>

<p><%= get_event_text_params(event, true).html_safe%></p>