<p><%= I18n.t('devise.mailer.intro_prompt', name: @resource.first_name, organization_name: I18n.t('global.organization_name')) %></p>

<p><%= I18n.t('devise.mailer.reset_password_instructions.link_prompt') %></p>

<p><%= link_to I18n.t('devise.mailer.reset_password_instructions.link'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= I18n.t('devise.mailer.reset_password_instructions.body') %></p>
